@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
  overflow: hidden;
  background-color: black;
  font-family: 'Inter', sans-serif;
}

#T-Menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  z-index: 1000;
}

#T-Menu-Buttons > button{
  height: 30px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 5px;
}

#T-Menu-Title{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 35px;
  color: white;
}
#T-Menu-Left{
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: space-between;
}
#T-Menu-Right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Back{
  margin-right: 10px;
}
#Forward{
  margin-right: 10px;
}

#L-Menu{
  position: fixed;
  top: 10%;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  z-index: 1000;
  display: flex;  
  flex-direction: column;  
}

#D2-Menu{
  width: 100%;
  align-items: center;
}
#D2-Menu-Title{
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}
#D2-Menu-Buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#D2-Menu-Buttons button{
  width: 100%;
  height: 50px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 5px;
}


#D3-Menu{
  width: 100%;
  align-items: center;
}
#D3-Menu-Title{
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}
#D3-Menu-Buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#D3-Menu-Buttons button{
  width: 100%;
  height: 50px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 5px;
}
